body {
	background-color: rgb(100,100,100);
	background-image: url('../img/sbg.gif');
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-seriff;
	text-rendering: optimizeLegibility;
}

.hidden_class {
    visibility: hidden !important;
}

.demphasis > .derpy,
.demphasis {
    color: rgb(60, 60, 60) !important;
}

.derpy {
    margin: 5px;
    color: rgb(200, 150, 100);
}

.onehundred{
    width: 100%;
}

section {
	text-align: justify;
	color: rgb(200, 200, 200);
	background-color: rgba(40,40,40, .8);
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: rgb(75,75,75);}

.main {
	z-index: 1;
	width: 1100px;
	position: relative;}

select {
    text-align-last: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
select {
    text-align: right;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid rgb(0,0,0);
    color: rgb(200, 200, 200);
    background: rgba(0, 0, 0, .1);
    padding: .25em .5em;
}


img {
    vertical-align: middle;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: rgb(20,20,20);
}

button {
    padding: .25em .5em;
    white-space: nowrap;
    width: fit-content;
    border: 1px solid rgb(0,0,0);
    background: rgba(0, 0, 0, .5);
    color: rgb(200,200,200);
}

button:hover {
    background: rgb(100,100,100);
    color: rgb(255, 255, 255);
}

button.current_tab {
    color: rgb(220,220,220);
    background-color: rgb(70,70,70);
}

#sponsor {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    gap: 5px;
    width: 225px;
}

.sponsor_img {
    height: auto;
    width: 100%
}

#github_image{
    flex:3.1;
}

#patreon_image {
    flex:4.255;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	margin-top: 15px;
	margin-bottom: 15px;
}

table.borders th,
table.borders td {
    border: 1px solid black;
}

/* Alternating list background Styles */

tr {
    text-align: center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:6px;
	margin: 1px;
	line-height: 1em;
}

tr:nth-child(even)  {
	background-color: rgb(35,35,35);
}

tr:nth-child(odd) {
	background-color: rgb(45,45,45);
}

/* link legibility tweak */
a:link {
    color: rgb(98, 110, 250);
}

a:visited {
    color: rgb(137, 117, 162);
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: rgb(200, 200, 200);
	border: 1px solid rgb(60, 60, 60);
	padding: 8px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
}

input[type=checkbox]:checked {
	background-color: rgb(200, 200, 200);
	border: 1px solid rgb(60, 60, 60);
	color: rgb(0, 0, 0);
}

input[type=checkbox]:checked:after {
	content: '\2718';
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(0, 0, 0);
}

option {
    direction: rtl;
    background-color: rgb(20, 20, 20);
}

.right_text {
    text-align: right;
}

.first_column {
    width: 10%;
    white-space: nowrap;
}

.second_column {
    width: 65%;
}

.node_column {
    width: 70%;
    word-wrap: break-word;
}

.special {
    background-color: rgb(5, 5, 5);
}
.force {
    background-color: rgb(40, 5, 5);
}
.life {
    background-color: rgb(40, 40, 5);
}
.form {
    background-color: rgb(5, 40, 5);
}
.inertia {
    background-color: rgb(5, 40, 40);
}
.entropy {
    background-color: rgb(40, 0, 40);
}
.weapon {
    background-color: rgb(30, 30, 30);
}
.armor {
    background-color: rgb(20, 20, 20);
}
.jewelry {
    background-color: rgb(10, 10, 10);
}

td > div {
    margin: 5px;
}
